<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
{{> header}}
<div class="success-box">
    <h1>You have been logged in to {{screamIt pageTitle}}!</h1>
</div>
    {{> footer}}
</body>
</html>