<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
{{> header}}
<div class="success-box">
    <h1>{{pageTitle}}</h1>
    <p>{{welcomMessage}}</p>
</div>
{{> footer}}
</body>
</html>